go 1.25.0

use (
	./cmd
	./internal/commands
	./internal/commands/admincommand
	./internal/commands/listcommand
	./internal/commands/promptcommand
    ./internal/database
    ./internal/routes
	./internal/util
)
